# Name: JAR_Plugin
# Author: Tristan
# Version: 1.2
# Date: 2020/09/24
# Requires: ImageJ 1.31s
# Generate the jar file using: "mvn package"



Plugins>NucleusJ3, "Autocrop",plugins.nucleus.fr.igred.Autocrop_
Plugins>NucleusJ3, "Segmentation",plugins.nucleus.fr.igred.Segmentation_
Plugins>NucleusJ3, "Crop From Coordinate",plugins.nucleus.fr.igred.CropFromCoordinates_
Plugins>NucleusJ3, "Compute parameters", plugins.nucleus.fr.igred.ComputeParametersPlugin_
Plugins>NucleusJ3, "Generate Overlay",plugins.nucleus.fr.igred.GenerateOverlay_
Plugins>NucleusJ3, "-"
Plugins>NucleusJ3, "Chromocenters Segmentation", plugins.nucleus.fr.igred.ChromocenterSegmentationBatchPlugin_
Plugins>NucleusJ3, "Chromocenters Analysis", plugins.nucleus.fr.igred.ChromocentersAnalysisBatchPlugin_
Plugins>NucleusJ3, "-"
Plugins>NucleusJ3, "NODeJ",plugins.nucleus.fr.igred.NODeJ