# Name: JAR_Plugin
# Author: Tristan
# Version: 1.2
# Date: 2020/09/24
# Requires: ImageJ 1.31s
# Generate the jar file using: "mvn package"



Plugins>NucleusJ3, "Autocrop",gred.nucleus.plugins.Autocrop_
Plugins>NucleusJ3, "Segmentation",gred.nucleus.plugins.Segmentation_
Plugins>NucleusJ3, "Crop From Coordinate",gred.nucleus.plugins.CropFromCoordinates_
Plugins>NucleusJ3, "Compute parameters", gred.nucleus.plugins.ComputeParametersPlugin_
Plugins>NucleusJ3, "Generate Overlay",gred.nucleus.plugins.GenerateOverlay_
Plugins>NucleusJ3, "-"
Plugins>NucleusJ3, "Chromocenters Segmentation", gred.nucleus.plugins.ChromocenterSegmentationBatchPlugin_
Plugins>NucleusJ3, "Chromocenters Analysis", gred.nucleus.plugins.ChromocentersAnalysisBatchPlugin_
Plugins>NucleusJ3, "-"
Plugins>NucleusJ3, "NODeJ",gred.nucleus.plugins.NODeJ