# Name: JAR_Plugin
# Author: Tristan
# Version: 3.0.0
# Date: 2025/07/31
# Requires: ImageJ 1.54p
# Generate the jar file using: "mvn package"



Plugins>NucleusJ, "Autocrop",fr.igred.nucleus.plugins.AutocropPlugin
Plugins>NucleusJ, "Segmentation",fr.igred.nucleus.plugins.SegmentationPlugin
Plugins>NucleusJ, "Crop From Coordinate",fr.igred.nucleus.plugins.CropFromCoordinatesPlugin
Plugins>NucleusJ, "Compute parameters", fr.igred.nucleus.plugins.ComputeParametersPlugin
Plugins>NucleusJ, "Generate Overlay",fr.igred.nucleus.plugins.GenerateOverlayPlugin
Plugins>NucleusJ, "-"
Plugins>NucleusJ, "Chromocenters Segmentation", fr.igred.nucleus.plugins.ChromocenterSegmentationPlugin
Plugins>NucleusJ, "Chromocenters Analysis", fr.igred.nucleus.plugins.ChromocenterAnalysisPlugin
Plugins>NucleusJ, "-"
Plugins>NucleusJ, "NODeJ",fr.igred.nucleus.plugins.NODeJ